cython
thriftpy
google-api-python-client
google-auth-httplib2 
google-auth-oauthlib
httplib2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter_contrib_nbextensions
matplotlib
nameparser
nbconvert
nbformat
numpy
oauth2client
oauthlib
pandas
parsedatetime
pathlib2
phonenumbers
pyOpenSSL
scikit-learn
scipy
seaborn
simplejson
SQLAlchemy
sqlalchemy-redshift
SQLAlchemy-Utils
sqlparse
statsmodels
urllib3
bokeh

xlsxwriter
xlrd
xlwt
XlsxWriter
sh
pyarrow
pandas-compat
s3fs
tzlocal

